@model IList<System.Security.Claims.Claim>

@{
    ViewData["Title"] = "Secret";
}

<h1>Secret</h1>

<h2>Welcome: @ViewBag.UserName / @ViewBag.UserRole</h2>

<a href="/Home/Index">Index</a>
<br />
<a href="/Home/Logout">Logout</a>
<br />

<hr />
<h1>Claims</h1>
<ul>
    @foreach (var item in Model)
    {
        <li>@item.Type  @item.Value  @item.Issuer</li>
    }
</ul>

<form action="/Home/AddClaim" method="post">
    Claim Type: <input type="text" name="type" value="" /><br/>
    Claim Value: <input type="text" name="value" value="" /><br/>
    <button type="submit">Submit</button>
</form>
